.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

.modal-content {
   width: 45%;
   height: 80%;
   background-color: #2E4F4F;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.modal-content span {
   font-size: 2rem;
   font-weight: bold;
   color: #e8fffa;
   position: absolute;
   top: 8vh;
   right: 27vw;
}

.modal-content span:hover {
   cursor: pointer;
}