.customer-details {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin: 0rem;
}

.customer-details > h3 {
   margin-left: 2rem;
   color: #e8fffa;
}

.no-transfers {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 2rem;
}